* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.folder {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
.folder img {
  height: 70px;
  width: 80px;
}
.folder input {
  width: 80px;
  display: block;
  text-align: center;
}
.folder p {
  height: 20px;
  line-height: 20px;
}
